.custom-tree-node[data-v-dcb1ab7a]{flex:1;display:flex;align-items:center;justify-content:space-between;font-size:14px;padding-right:8px}.card[data-v-dcb1ab7a]{height:calc(100% - 5px);--el-card-padding: 5px}
